body {
  background: tan;
  font-family: helvetica;
}

h1 {
   text-align: center;
   font-size: 50px;
}

#painted-table {
 /* border: 1px solid red;*/
  height: 505px;
  width: 90%;
  margin: 0 auto;
}

.card {
  border: 1px solid white;
  padding: 20px;
  width: 60px;
  height: 60px;
  margin: 10%;

}

.column {
  padding: 2%; 
  width: 15%;
  float: left;
  float: right;
  margin: 0, auto;
}

a {
  border: 3px solid black;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin: 0 auto;
  width: 20%;
  display: block;
  text-align: center;
}

.stark {
  background: lightgrey;
}

.lannister {
  background: darkred;
}

.targaryen {
  background: red;
}

.baratheon {
  background: gold;
}

.greyjoy {
  background: slategrey;
}

.nightswatch {
  background: black;
}

.tyrell {
  background: blue;
}

.dothraki {
  background: blanchedalmond;
}

.martell {
  background: orange;
}

.tully {
  background: navy;
}

.facedown {
  background: white;
}

.match {
  border: 1px solid yellow;
}




