body {
  background: tan;
}

h1 {
   text-align: center;
}

#painted-table {
  border: 1px solid red;
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

.card {
  border: 1px solid white;
  padding: 20px;
  width: 50px;
  height: 50px;
  margin: 10%;

}

.column {
  padding: 2%; 
  width: 15%;
  float: left;
  float: right;
  margin: 0, auto;
}

.stark {
  background: lightgrey;
}

.lannister {
  background: darkred;
}

.targaryen {
  background: red;
}

.baratheon {
  background: gold;
}

.greyjoy {
  background: slategrey;
}

.facedown {
  background: black;
}

.match {
  border: 1px solid yellow;
}
