body {
  /*background: #C8B590;*/
  background: #111214;
  font-family: fantasy;
}

header {
   text-align: center;
   color: #C8B590;
}

h1 {
  font-size: 80px;
  margin-bottom: 0px;
}

#instructions {
  font-size: 30px;
  margin-top: 0px;
}

a {
  border: 3px solid #C8B590;
  color: #C8B590;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  margin: 0 auto;
  width: 20%;
  display: block;
  text-align: center;
}

#timer-elements {
  margin-bottom: 0px;
}

#hide-timer-btn {
  width: 10%;
  font-size: 15px;
  display: inline;
  margin-top: 3%;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: 20px;
}

#painted-table {
  border: 3px solid #C8B590;
  background: url('./images/westeros2.jpg');
  background-position: center;
  display: flex;
  width: 85%;
  margin: 0 auto 3% auto;
  justify-content: space-around;
}

.hidden {
  visibility: hidden;
}

.card {
  border: 1px solid white;
  padding: 20px;
  width: 58px;
  height: 80px;
  margin: 10%;
  cursor: pointer;
}

#new-game-btn {
  cursor: pointer;
}

.stark {
  background-image: url('./images/sigils/stark.jpg');
  background-position: center;
}

.lannister {
  background-image: url('./images/sigils/lannister.jpg');
  background-position: center;
}

.targaryen {
 background-image: url('./images/sigils/targaryen.jpg');
 background-position: center;
}

.baratheon {
  background-image: url('./images/sigils/baratheon.jpg');
  background-position: center;
}

.greyjoy {
  background-image: url('./images/sigils/greyjoy.jpg');
  background-position: center;
}

.arryn {
  background-image: url('./images/sigils/arryn.jpg');
  background-position: center;
}

.tyrell {
 background-image: url('./images/sigils/tyrell.jpg');
 background-position: center;
}

.bolton {
  background-image: url('./images/sigils/bolton.jpg');
  background-position: center;
}

.martell {
  background-image: url('./images/sigils/martell.jpg');
  background-position: center;
}

.tully {
  background-image: url('./images/sigils/tully.jpg');
  background-position: center;
}

.facedown {
 background: url('./images/iron-throne.jpg');
 background-position: center;
}

.match {
  border: 2px solid yellow;
}




